@charset "utf-8";

tr
{
	text-align:center;
}

.odd
{
	background-color:#CCCCCC;
}

.even
{
	background-color:#999999;
}

.header
{
	font-weight:bold;
}

tr.odd:hover
{
	background-color:yellow;
}

tr.even:hover
{
	background-color:yellow;
}